node_modules
coverage
dist/
build/
cypress/fixtures
cypress/plugins
cypress/screenshots
cypress/videos
cypress/support
.idea
.vscode
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
*.iml
/*/target
/*/out
